/**index.wxss**/
.page-section {
  width: 100%;
}
.page-section_center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page-section:last-child {
  margin-bottom: 0;
}
.page-section-gap {
  box-sizing: border-box;
}
.page-section-spacing {
  box-sizing: border-box;
}
.page-section-spacing image {
  width: 100%;
}
/*导航*/
.nav view {
  display: inline-block;
  width: 50%;
  border-radius: 0;
  text-align: center;
  font-size: 24rpx;
  line-height: 82rpx;
}
.select {
  width: 100%;
}
.select view {
  display: inline-block;
  width: 33.3%;
  text-align: center;
  font-size: 28rpx;
  line-height: 82rpx;
}
.navA {
  background: #c6c6c6;
  color: #eeeeee;
}
.section-wrap {
  height: 0;
  width: 100%;
  position: relative;
}
.section-wrap .section {
  position: absolute;
  left: 0;
  top: 0;
  background: #eeeeee;
  z-index: 100%;
  width: 100%;
  overflow: hidden;
}
.section-wrap .section scroll-view {
  display: inline-block;
  width: 33%;
  text-align: center;
  font-size: 24rpx;
}
.section-wrap .section scroll-view view {
  line-height: 50rpx;
  margin: 0 50rpx;
}
.section-wrap .section scroll-view view.active {
  color: #3fbef1;
  border-bottom: solid 1rpx #3fbef1;
}
.newList {
  padding: 0 35rpx;
  margin-top: 50rpx;
}
.newList:last-of-type {
  padding-bottom: 140rpx;
}
.newList .userMsg {
  overflow: hidden;
}
.newList .userMsg .userImg {
  float: left;
}
.newList .userMsg .userImg image {
  width: 56rpx;
  height: 56rpx;
}
.newList .userMsg .username {
  margin-top: -4rpx;
  float: left;
  margin-left: 16rpx;
  width: 600rpx;
}
.newList .userMsg .username .name {
  overflow: hidden;
  font-size: 26rpx;
}
.newList .userMsg .username .name .namel {
  float: left;
}
.newList .userMsg .username .name .time {
  float: right;
  font-size: 24rpx;
  color: #999999;
}
.newList .userMsg .username .address {
  margin-top: -18rpx;
}
.newList .userMsg .username .address text {
  font-size: 16rpx;
  background: #3fbef1;
  color: #fff;
  padding: 4rpx;
  border-radius: 20rpx;
}
.newList .title {
  font-size: 24rpx;
  color: #666666;
  line-height: 36rpx;
}
.newList .detail {
  font-size: 24rpx;
  color: #999999;
  line-height: 36rpx;
}
.newList .imgFile {
  margin-top: 35rpx;
}
.newList .imgFile image {
  width: 220rpx;
  height: 146rpx;
  margin-left: 10rpx;
  margin-top: 10rpx;
}
.newList .imgFile image:nth-of-type(3n+1) {
  margin-left: 0;
}
.newList .rddz {
  overflow: hidden;
}
.newList .rddz text {
  font-size: 24rpx;
  color: #999999;
}
.newList .rddz .rd {
  float: right;
  margin-right: 20rpx;
}
.newList .rddz .rd image {
  width: 36rpx;
  height: 20rpx;
}
.newList .rddz .dz {
  float: right;
}
.newList .rddz .dz image {
  width: 30rpx;
  height: 26rpx;
  vertical-align: -4rpx;
}
.footer {
  width: 100%;
  height: 98rpx;
  padding-top: 20rpx;
  position: fixed;
  bottom: 0;
  z-index: 99;
  background: #ffffff;
}
.footer .nav {
  width: 33.33%;
  float: left;
  text-align: center;
}
.footer .nav image {
  width: 52rpx;
  height: 40rpx;
}
.footer .nav text {
  display: block;
  text-align: center;
  color: #999999;
  font-size: 20rpx;
}
.mask {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.mask .bottom {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 356rpx;
  background: #fff;
  overflow: hidden;
}
.mask .bottom .close {
  position: absolute;
  right: 35rpx;
  top: 35rpx;
  z-index: 200;
  width: 22rpx;
  height: 22rpx;
  padding: 10rpx;
}
.mask .bottom .nav {
  position: relative;
  float: left;
  width: 50%;
  height: 356rpx;
  text-align: center;
}
.mask .bottom .nav view {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.mask .bottom .nav view image {
  width: 86rpx;
  height: 72rpx;
}
.mask .bottom .nav view text {
  display: block;
  font-size: 28rpx;
  color: #333333;
}
.mask-close {
  display: none;
}
