.wrap {
  padding: 35rpx;
}
.wrap .userMsg {
  overflow: hidden;
}
.wrap .userMsg .userImg {
  float: left;
}
.wrap .userMsg .userImg image {
  width: 80rpx;
  height: 80rpx;
  border-radius: 10rpx;
}
.wrap .userMsg .username {
  margin-top: -4rpx;
  float: left;
  margin-left: 16rpx;
  width: 584rpx;
}
.wrap .userMsg .username .name {
  overflow: hidden;
  font-size: 30rpx;
}
.wrap .userMsg .username .name .namel {
  float: left;
}
.wrap .userMsg .username .name .time {
  float: right;
  font-size: 24rpx;
  color: #999999;
}
.wrap .userMsg .username .address {
  margin-top: -8rpx;
}
.wrap .userMsg .username .address text {
  font-size: 16rpx;
  background: #ffc43d;
  color: #000000;
  padding: 4rpx;
  border-radius: 20rpx;
}
.wrap .title {
  font-size: 28rpx;
  color: #666666;
  line-height: 60rpx;
}
.wrap .detail {
  font-size: 28rpx;
  color: #999999;
  line-height: 40rpx;
}
.wrap .table {
  font-size: 28rpx;
  color: #999999;
  line-height: 80rpx;
}
.wrap .table view {
  overflow: hidden;
  border-bottom: solid 1rpx #eeeeee;
}
.wrap .table view .left {
  float: left;
}
.wrap .table view .right {
  float: right;
}
.wrap .imgFile {
  margin-top: 20rpx;
}
.wrap .imgFile image {
  width: 330rpx;
  height: 214rpx;
  margin-top: 10rpx;
  border-radius: 10rpx;
}
.wrap .imgFile image:nth-of-type(2n) {
  margin-left: 20rpx;
}
.wrap .bottom {
  margin-top: 30rpx;
  overflow: hidden;
  height: 92rpx;
  border-top: 1rpx solid #d3d3d3;
}
.wrap .bottom text {
  font-size: 28rpx;
  color: #999999;
}
.wrap .bottom .left {
  float: left;
  width: 49%;
  height: 52rpx;
  line-height: 52rpx;
  margin: 20rpx 0;
  text-align: center;
}
.wrap .bottom .left:first-of-type {
  border-right: solid 1rpx #d3d3d3;
}
.wrap .bottom .left image {
  width: 48rpx;
  height: 48rpx;
  vertical-align: middle;
  margin-right: 10rpx;
  margin-top: -10rpx;
}
.loginMask-close {
  display: none;
}
.loginMask {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.loginMask .inner {
  margin: 0 auto;
  width: 600rpx;
  background: #ffffff;
  position: absolute;
  z-index: 999;
  top: 40%;
  left: 75rpx;
  border-radius: 10rpx;
  overflow: hidden;
}
.loginMask .inner .title {
  text-align: center;
  color: #333333;
  padding: 40rpx 0 20rpx;
  font-size: 30rpx;
}
.loginMask .inner .detial {
  text-align: center;
  padding: 30rpx 0 50rpx;
  color: #666666;
  font-size: 28rpx;
}
.loginMask .inner .btn {
  overflow: hidden;
}
.loginMask .inner .btn button {
  width: 300rpx;
  float: left;
  padding: 0;
  border: none;
}
.loginMask .inner .btn button::after {
  border: none;
  background-color: none;
}
.loginMask .inner .btn button:last-of-type::after {
  content: "去登录";
  font-size: 68rpx;
  border: none;
  background-color: #ffc43d;
  color: #ffffff;
  border-radius: 0;
}
